.wrapper {
  display: flex;
  padding: 16px;

  .navLink {
    margin-right: 16px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;

    &:hover {
      color: red
    }
  }
  border-bottom: 1px solid #cccccc;
}
